html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.wrapper {
    margin: 0 auto;
    width: 60%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tabs {
    position: relative;
    bottom: -5px;
    left: -10px;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    /* border: 1px solid red; */
    z-index: -1;
}

.tabs h1 {
    margin: 0;
    padding: 18px 25px;
    background-color: #e5e5e5;
    border-radius: 8px 8px 0px 0px;
    text-transform: uppercase;
    font-size: 1.4em;
    color: #333;
}
.tabs p {
    position: relative;
    left: -5px;
    bottom: -10px;
    margin: 0;
    padding: 18px 25px 0px 25px;
    height: 35px;
    /* background-color: #849396; */
    background-color: #d1d4d6;
    /* color: #fff; */
    color: #333;
    border-radius: 0 8px 0 0;
    line-height: 25px;
    z-index: -1;
}

.wrapper h2 {
    margin: 0;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 5px 5px 0 0;
    width: 100%;
    text-align: left;
    color: #fff;
    background-color: #444444;
}

.activities {
    margin: 0;
    padding: 25px 10px;
    border-radius: 0 0 5px 5px;
    width: 100%;
    height: auto;
    background-color: #e5e5e5;
    /* display: flex;
    flex-wrap: row wrap;
    align-items: center;
    justify-content: space-around; */
}

.activities a {
    margin: 0 auto;
    padding: 5px 8px;
    float: left;
    text-decoration: none;
    color: #849396;
}

.activities a:hover {
    cursor: pointer;
    color: #db1540;

}